# CONFIG_NETDEVICES is not set
# CONFIG_RTC_CLASS is not set
CONFIG_SND_SIMPLE_CARD=m
CONFIG_SND_SIMPLE_CARD_UTILS=m
CONFIG_SND_SOC_ROCKCHIP=m
CONFIG_SND_SOC_ROCKCHIP_I2S=m
CONFIG_SND_SOC_ROCKCHIP_I2S_TDM=m
CONFIG_SND_SOC_ROCKCHIP_PDM=m
# CONFIG_USB_SUPPORT is not set
CONFIG_VIDEO_CAM_SLEEP_WAKEUP=y
