# CONFIG_BACKLIGHT_LCD_SUPPORT is not set
# CONFIG_BATTERY_CW2015 is not set
# CONFIG_CHARGER_BQ25700 is not set
# CONFIG_CPU_PX30 is not set
# CONFIG_CPU_RK3328 is not set
# CONFIG_CPU_RK3368 is not set
# CONFIG_CPU_RK3399 is not set
# CONFIG_CPU_RK3568 is not set
# CONFIG_CRYPTO_DEV_ROCKCHIP_V1 is not set
# CONFIG_CRYPTO_DEV_ROCKCHIP_V2 is not set
# CONFIG_DRM_ROCKCHIP_RK618 is not set
# CONFIG_DRM_ROCKCHIP_RK628 is not set
# CONFIG_FUSB_30X is not set
# CONFIG_INPUT_TOUCHSCREEN is not set
# CONFIG_LEDS_RGB13H is not set
# CONFIG_MALI_BIFROST is not set
# CONFIG_MALI_MIDGARD is not set
# CONFIG_REGULATOR_ACT8865 is not set
# CONFIG_REGULATOR_DIO5632 is not set
# CONFIG_REGULATOR_FAN53555 is not set
# CONFIG_REGULATOR_LP8752 is not set
# CONFIG_REGULATOR_MP8865 is not set
# CONFIG_REGULATOR_TPS65132 is not set
# CONFIG_REGULATOR_XZ3216 is not set
# CONFIG_RK_NAND is not set
# CONFIG_ROCKCHIP_ANALOGIX_DP is not set
# CONFIG_ROCKCHIP_CDN_DP is not set
# CONFIG_ROCKCHIP_CLK_BOOST is not set
# CONFIG_ROCKCHIP_DDRCLK_SIP is not set
# CONFIG_ROCKCHIP_DW_MIPI_DSI is not set
# CONFIG_ROCKCHIP_INNO_HDMI is not set
# CONFIG_ROCKCHIP_LVDS is not set
# CONFIG_ROCKCHIP_PLL_RK3066 is not set
# CONFIG_ROCKCHIP_PLL_RK3399 is not set
# CONFIG_ROCKCHIP_RGB is not set
# CONFIG_ROCKCHIP_RKNPU is not set
# CONFIG_ROCKCHIP_VOP is not set
# CONFIG_SENSOR_DEVICE is not set
# CONFIG_VIDEO_DW9714 is not set
# CONFIG_VIDEO_GC0312 is not set
# CONFIG_VIDEO_GC032A is not set
# CONFIG_VIDEO_GC2053 is not set
# CONFIG_VIDEO_GC2093 is not set
# CONFIG_VIDEO_GC2145 is not set
# CONFIG_VIDEO_GC2355 is not set
# CONFIG_VIDEO_GC2385 is not set
# CONFIG_VIDEO_GC4C33 is not set
# CONFIG_VIDEO_GC8034 is not set
# CONFIG_VIDEO_LT6911UXC is not set
# CONFIG_VIDEO_LT8619C is not set
# CONFIG_VIDEO_OV13850 is not set
# CONFIG_VIDEO_OV2680 is not set
# CONFIG_VIDEO_OV5648 is not set
# CONFIG_VIDEO_OV5695 is not set
# CONFIG_VIDEO_OV8858 is not set
# CONFIG_VIDEO_RK628_CSI is not set
# CONFIG_VIDEO_ROCKCHIP_ISP is not set
# CONFIG_VIDEO_ROCKCHIP_ISP1 is not set
# CONFIG_VIDEO_SGM3784 is not set
# CONFIG_VIDEO_TC35874X is not set
# CONFIG_VIDEO_VM149C is not set
CONFIG_VLAN_8021Q=y
# CONFIG_BRIDGE_VLAN_FILTERING is not set
# CONFIG_VLAN_8021Q_GVRP is not set
# CONFIG_VLAN_8021Q_MVRP is not set
