CONFIG_DMABUF_HEAPS_SECURE=y
CONFIG_HUGETLBFS=y
CONFIG_PCIE_DW_ROCKCHIP_EP=y
CONFIG_PCIE_FUNC_RKEP=y
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=y
# CONFIG_CGROUP_HUGETLB is not set
CONFIG_HUGETLB_PAGE=y
# CONFIG_PCIE_FUNC_RKEP_USERPAGES is not set
CONFIG_VIDEO_MAX96712=y
CONFIG_VIDEO_MAX96722=y
CONFIG_VIDEO_MAX96756=y
CONFIG_VIDEO_MAXIM_SERDES=y
CONFIG_VIDEO_MAXIM_DES_MAXIM2C=y
CONFIG_VIDEO_MAXIM_DES_MAXIM4C=y
CONFIG_VIDEO_MAXIM_SER_MAX9295=y
CONFIG_VIDEO_MAXIM_SER_MAX96715=y
CONFIG_VIDEO_MAXIM_SER_MAX96717=y
CONFIG_VIDEO_MAXIM_CAM_DUMMY=y
CONFIG_VIDEO_MAXIM_CAM_SC320AT=y
CONFIG_VIDEO_MAXIM_CAM_OX01F10=y
CONFIG_VIDEO_MAXIM_CAM_OV231X=y
CONFIG_VIDEO_MAXIM_CAM_OX03J10=y
CONFIG_VIDEO_MAXIM_CAM_OS04A10=y
CONFIG_GPIO_NCA9539=y
