/*
 * Copyright (c) 2016 Fuzhou Rockchip Electronics Co., Ltd
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/input/input.h>
#include "rk3399.dtsi"
#include "rk3399-linux.dtsi"
#include "rk3399-opp.dtsi"

/ {
	compatible = "rockchip,rk3399-ruihe","rockchip,rk3399";
        spdif-sound {
                status = "disabled";
                compatible = "simple-audio-card";
                simple-audio-card,name = "ROCKCHIP,SPDIF";
                simple-audio-card,cpu {
                        sound-dai = <&spdif>;
                };
                simple-audio-card,codec {
                        sound-dai = <&spdif_out>;
                };
        };

        spdif_out: spdif-out {
                status = "okay";
                compatible = "linux,spdif-dit";
                #sound-dai-cells = <0>;
        };
				
        vcc1v8_s0: vcc1v8-s0 {
                compatible = "regulator-fixed";
                regulator-name = "vcc1v8_s0";
                regulator-min-microvolt = <1800000>;
                regulator-max-microvolt = <1800000>;
                regulator-always-on;
        };

        vcc_sys: vcc-sys {
                compatible = "regulator-fixed";
                regulator-name = "vcc_sys";
                regulator-min-microvolt = <5000000>;
                regulator-max-microvolt = <5000000>;
                regulator-always-on;
        };

        vcc_phy: vcc-phy-regulator {
                compatible = "regulator-fixed";
                regulator-name = "vcc_phy";
                regulator-always-on;
                regulator-boot-on;
        };

        vcc3v3_sys: vcc3v3-sys {
                compatible = "regulator-fixed";
                regulator-name = "vcc3v3_sys";
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
                regulator-always-on;
                vin-supply = <&vcc_sys>;
        };

       vcc5v0_host: vcc5v0-host-regulator {
                compatible = "regulator-fixed";
                enable-active-high;
                gpio = <&gpio4 26 GPIO_ACTIVE_HIGH>;
                pinctrl-names = "default";
                pinctrl-0 = <&host_vbus_drv>;
                regulator-name = "vcc5v0_host";
                regulator-always-on;
        };

        vcc5v0_sys: vcc5v0-sys {
                compatible = "regulator-fixed";
                regulator-name = "vcc5v0_sys";
                regulator-always-on;
                regulator-boot-on;
                regulator-min-microvolt = <5000000>;
                regulator-max-microvolt = <5000000>;
        };


        vdd_log: vdd-log {
                compatible = "pwm-regulator";
                pwms = <&pwm2 0 25000 1>;
                regulator-name = "vdd_log";
                regulator-min-microvolt = <800000>;
                regulator-max-microvolt = <1000000>;
                regulator-always-on;
                regulator-boot-on;

                /* for rockchip boot on */
                rockchip,pwm_id= <2>;
                rockchip,pwm_voltage = <900000>;

                vin-supply = <&vcc_sys>;
        };

	clkin_gmac: external-gmac-clock {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		clock-output-names = "clkin_gmac";
		#clock-cells = <0>;
	};

        sdio_pwrseq: sdio-pwrseq {
                compatible = "mmc-pwrseq-simple";
                clocks = <&rk808 1>;
                clock-names = "ext_clock";
                pinctrl-names = "default";
                pinctrl-0 = <&wifi_enable_h>;

                /*
                 * On the module itself this is one of these (depending
                 * on the actual card populated):
                 * - SDIO_RESET_L_WL_REG_ON
                 * - PDN (power down when low)
                 */
                reset-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
        };

	test_power: test-power {
		status = "okay";
	};

	rockchip-rt5670 {
		compatible = "rockchip-rt5670";
		dais {
			dai0 {
				audio-codec = <&rt5670>;
				audio-controller = <&i2s0>;
				format = "i2s";
				//continuous-clock;
				//bitclock-inversion;
				//frame-inversion;
				//bitclock-master;
				//frame-master;
			};
			dai1 	{
				audio-codec = <&rt5670>;
				audio-controller = <&i2s0>;
				format = "i2s";
				//continuous-clock;
				//bitclock-inversion;
				//frame-inversion;
				//bitclock-master;
				//frame-master;
			};
		};
	};
};
&sdmmc {
        //clock-frequency = <100000000>;
        //clock-freq-min-max = <100000 100000000>;

        clock-frequency = <20000000>;
        clock-freq-min-max = <400000 20000000>;
        card-detect-delay = <1200>;
        supports-sd;
        bus-width = <4>;
        cap-mmc-highspeed;
        cap-sd-highspeed;
        disable-wp;
        num-slots = <1>;
        //sd-uhs-sdr104;
        vqmmc-supply = <&vcc_sd>;
        pinctrl-names = "default";
        pinctrl-0 = <&sdmmc_clk &sdmmc_cmd &sdmmc_cd &sdmmc_bus4>;
        //card-detect-delay = <800>;
        status = "okay";
};

&sdio0 {
        clock-frequency = <100000000>;
        clock-freq-min-max = <200000 100000000>;
        supports-sdio;
        bus-width = <4>;
        disable-wp;
        cap-sd-highspeed;
        cap-sdio-irq;
        keep-power-in-suspend;
        mmc-pwrseq = <&sdio_pwrseq>;
        non-removable;
        num-slots = <1>;
        pinctrl-names = "default";
        pinctrl-0 = <&sdio0_bus4 &sdio0_cmd &sdio0_clk>;
        sd-uhs-sdr104;
        status = "okay";
};

&emmc_phy {
	status = "okay";
};

&i2s0 {
	status = "okay";
	rockchip,i2s-broken-burst-len;
	rockchip,playback-channels = <8>;
	rockchip,capture-channels = <8>;
	#sound-dai-cells = <0>;
	clock-names = "i2s_clk", "i2s_mclk","i2s_hclk";
	clocks = <&cru SCLK_I2S0_8CH>, <&cru SCLK_I2S_8CH_OUT>, <&cru HCLK_I2S0_8CH>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2s0_8ch_bus>,<&i2s_8ch_mclk>;
};

/*&watchdog {
	status="disabled";
};*/
&sdhci {
	bus-width = <8>;
	mmc-hs400-1_8v;
	supports-emmc;
	non-removable;
	mmc-hs400-enhanced-strobe;
	status = "okay";
};
&gpio4 {
	status = "okay";
};
&gpio3 {
	status = "okay";
};
&i2c0 {
        status = "okay";
        i2c-scl-rising-time-ns = <168>;
        i2c-scl-falling-time-ns = <4>;
        clock-frequency = <400000>;

        vdd_cpu_b: syr827@40 {
                compatible = "silergy,syr827";
                reg = <0x40>;
                regulator-compatible = "fan53555-reg";
                pinctrl-0 = <&vsel1_gpio>;
                vsel-gpios = <&gpio1 17 GPIO_ACTIVE_HIGH>;
                regulator-name = "vdd_cpu_b";
                regulator-min-microvolt = <712500>;
                regulator-max-microvolt = <1500000>;
                regulator-ramp-delay = <1000>;
                fcs,suspend-voltage-selector = <1>;
                regulator-always-on;
                regulator-boot-on;
                vin-supply = <&vcc_sys>;
                regulator-state-mem {
                        regulator-off-in-suspend;
                };
        };

        vdd_gpu: syr828@41 {
                compatible = "silergy,syr828";
                reg = <0x41>;
                regulator-compatible = "fan53555-reg";
                pinctrl-0 = <&vsel2_gpio>;
                vsel-gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
                regulator-name = "vdd_gpu";
                regulator-min-microvolt = <712500>;
                regulator-max-microvolt = <1500000>;
                regulator-ramp-delay = <1000>;
                fcs,suspend-voltage-selector = <1>;
                regulator-always-on;
                regulator-boot-on;
                vin-supply = <&vcc_sys>;
                regulator-initial-mode = <1>; /* 1:force PWM 2:auto */
                regulator-state-mem {
                        regulator-off-in-suspend;
                };
        };
        rk808: pmic@1b {
                compatible = "rockchip,rk808";
                reg = <0x1b>;
                interrupt-parent = <&gpio1>;
                interrupts = <21 IRQ_TYPE_LEVEL_LOW>;
                pinctrl-names = "default";
                pinctrl-0 = <&pmic_int_l>;
                rockchip,system-power-controller;
                wakeup-source;
                #clock-cells = <1>;
                clock-output-names = "xin32k", "rk808-clkout2";

                vcc1-supply = <&vcc_sys>;
                vcc2-supply = <&vcc_sys>;
                vcc3-supply = <&vcc_sys>;
                vcc4-supply = <&vcc_sys>;
                vcc6-supply = <&vcc_sys>;
                vcc7-supply = <&vcc_sys>;
                vcc8-supply = <&vcc3v3_sys>;
                vcc9-supply = <&vcc_sys>;
                vcc10-supply = <&vcc_sys>;
                vcc11-supply = <&vcc_sys>;
                vcc12-supply = <&vcc3v3_sys>;
                vddio-supply = <&vcc_1v8>;

                regulators {
                        vdd_center: DCDC_REG1 {
                                regulator-name = "vdd_center";
                                regulator-min-microvolt = <750000>;
                                regulator-max-microvolt = <1350000>;
                                regulator-ramp-delay = <6001>;
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-state-mem {
                                        regulator-off-in-suspend;
                                };
                        };

                        vdd_cpu_l: DCDC_REG2 {
                                regulator-name = "vdd_cpu_l";
                                regulator-min-microvolt = <750000>;
                                regulator-max-microvolt = <1350000>;
                                regulator-ramp-delay = <6001>;
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-state-mem {
                                        regulator-off-in-suspend;
                                };
                        };

                        vcc_ddr: DCDC_REG3 {
                                regulator-name = "vcc_ddr";
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                };
                        };
                        vcc_1v8: DCDC_REG4 {
                                regulator-name = "vcc_1v8";
                                regulator-min-microvolt = <1800000>;
                                regulator-max-microvolt = <1800000>;
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                        regulator-suspend-microvolt = <1800000>;
                                };
                        };

                        vcc1v8_dvp: LDO_REG1 {
                                regulator-name = "vcc1v8_dvp";
                                regulator-min-microvolt = <1800000>;
                                regulator-max-microvolt = <1800000>;
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                        regulator-suspend-microvolt = <1800000>;
                                };
                        };

                        vcca1v8_hdmi: LDO_REG2 {
                                regulator-name = "vcca1v8_hdmi";
                                regulator-min-microvolt = <1800000>;
                                regulator-max-microvolt = <1800000>;
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                        regulator-suspend-microvolt = <1800000>;
                                };
                        };

                        vcca_1v8: LDO_REG3 {
                                regulator-name = "vcca_1v8";
                                regulator-min-microvolt = <1800000>;
                                regulator-max-microvolt = <1800000>;
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                        regulator-suspend-microvolt = <1800000>;
                                };
                        };

                        vcc_sd: LDO_REG4 {
                                regulator-name = "vcc_sd";
                                regulator-min-microvolt = <1800000>;
                                regulator-max-microvolt = <3000000>;
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                        regulator-suspend-microvolt = <3000000>;
                                };
                        };

                        vcc3v0_sd: LDO_REG5 {
                                regulator-name = "vcc3v0_sd";
                                regulator-min-microvolt = <3000000>;
                                regulator-max-microvolt = <3000000>;
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                        regulator-suspend-microvolt = <3000000>;
                                };
                        };

                        vcc_1v5: LDO_REG6 {
                                regulator-name = "vcc_1v5";
                                regulator-min-microvolt = <1500000>;
                                regulator-max-microvolt = <1500000>;
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                        regulator-suspend-microvolt = <1500000>;
                                };
                        };

                        vcca0v9_hdmi: LDO_REG7 {
                                regulator-name = "vcca0v9_hdmi";
                                regulator-min-microvolt = <900000>;
                                regulator-max-microvolt = <900000>;
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                        regulator-suspend-microvolt = <900000>;
                                };
                        };

                        vcc_3v0: LDO_REG8 {
                                regulator-name = "vcc_3v0";
                                regulator-min-microvolt = <3000000>;
                                regulator-max-microvolt = <3000000>;
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                        regulator-suspend-microvolt = <3000000>;
                                };
                        };

                        vcc3v3_s3: SWITCH_REG1 {
                                regulator-name = "vcc3v3_s3";
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                };
                        };

                        vcc3v3_s0: SWITCH_REG2 {
                                regulator-name = "vcc3v3_s0";
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                };
                        };
                };
        };
};

&cpu_l0 {
	cpu-supply = <&vdd_cpu_l>;
};

&cpu_l1 {
	cpu-supply = <&vdd_cpu_l>;
};

&cpu_l2 {
	cpu-supply = <&vdd_cpu_l>;
};

&cpu_l3 {
	cpu-supply = <&vdd_cpu_l>;
};

&cpu_b0 {
	cpu-supply = <&vdd_cpu_b>;
};

&cpu_b1 {
	cpu-supply = <&vdd_cpu_b>;
};

&gpu {
	status = "okay";
	mali-supply = <&vdd_gpu>;
};

&threshold {
	temperature = <85000>;
};

&target {
	temperature = <100000>;
};

&soc_crit {
	temperature = <105000>;
};

&tsadc {
	/* tshut mode 0:CRU 1:GPIO */
	rockchip,hw-tshut-mode = <1>;
	/* tshut polarity 0:LOW 1:HIGH */
	rockchip,hw-tshut-polarity = <1>;
	rockchip,hw-tshut-temp = <110000>;
	status = "okay";
};

&uart2 {
	status = "disabled";
};

&gmac {
	phy-supply = <&vcc_phy>;
	phy-mode = "rgmii";
	clock_in_out = "input";
	snps,reset-gpio = <&gpio3 15 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 10000 50000>;
	assigned-clocks = <&cru SCLK_RMII_SRC>;
	assigned-clock-parents = <&clkin_gmac>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&rgmii_pins>;
	pinctrl-1 = <&rgmii_sleep_pins>;
	tx_delay = <0x28>;
	rx_delay = <0x11>;
	status = "okay";
};

&saradc {
	status = "okay";
};

&io_domains {
	status = "okay";
	//uboot-set = <(RK3399_BT656_VDD_1V8 | RK3399_AUDIO_VDD_1V8 | RK3399_GPIO1833_VDD_3V3)>;
	bt656-supply = <&vcc_3v0>; /* APIO2_VDD */
	audio-supply = <&vcc_1v8>; /* APIO5_VDD */
	sdmmc-supply = <&vcc_sd>; /* SDMMC0_VDD */
	gpio1830-supply = <&vcc_3v0>; /* APIO4_VDD */
};

&pinctrl {
        gmac {
                rgmii_sleep_pins: rgmii-sleep-pins {
                        rockchip,pins =
                                <3 15 RK_FUNC_GPIO &pcfg_output_low>;
                };
        };
	pmic {
		pmic_int_l: pmic-int-l {
			rockchip,pins =
				<1 21 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		vsel1_gpio: vsel1-gpio {
			rockchip,pins =
				<1 17 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		vsel2_gpio: vsel2-gpio {
			rockchip,pins =
				<1 14 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};
        sdio-pwrseq {
                wifi_enable_h: wifi-enable-h {
                        rockchip,pins =
                                <0 10 RK_FUNC_GPIO &pcfg_pull_none>;
                };
        };
        usb2 {
                host_vbus_drv: host-vbus-drv {
                        rockchip,pins =
                                <4 26 RK_FUNC_GPIO &pcfg_pull_none>;
                };
        };
	rgmii_crs02_pins: rgmii-crs02-pins {
		rockchip,pins =
		/* mac_txclk */
		<3 17 RK_FUNC_1 &pcfg_pull_none_13ma>,
		/* mac_rxclk */
		<3 14 RK_FUNC_1 &pcfg_pull_none>,
		/* mac_mdio */
		<3 13 RK_FUNC_1 &pcfg_pull_none>,
		/* mac_txen */
		<3 12 RK_FUNC_1 &pcfg_pull_none_13ma>,
		/* mac_clk */
		//<3 11 RK_FUNC_1 &pcfg_pull_none>,////This pin is used for i2c5
		/* mac_rxdv */
		<3 9 RK_FUNC_1 &pcfg_pull_none>,
		/* mac_mdc */
		<3 8 RK_FUNC_1 &pcfg_pull_none>,
		/* mac_rxd1 */
		<3 7 RK_FUNC_1 &pcfg_pull_none>,
		/* mac_rxd0 */
		<3 6 RK_FUNC_1 &pcfg_pull_none>,
		/* mac_txd1 */
		<3 5 RK_FUNC_1 &pcfg_pull_none_13ma>,
		/* mac_txd0 */
		<3 4 RK_FUNC_1 &pcfg_pull_none_13ma>,
		/* mac_rxd3 */
		<3 3 RK_FUNC_1 &pcfg_pull_none>,
		/* mac_rxd2 */
		<3 2 RK_FUNC_1 &pcfg_pull_none>,
		/* mac_txd3 */
		<3 1 RK_FUNC_1 &pcfg_pull_none_13ma>,
		/* mac_txd2 */
		<3 0 RK_FUNC_1 &pcfg_pull_none_13ma>;
	};
        gpio-leds {
                leds_gpio: leds-gpio {
                        rockchip,pins =
                                <3 16 RK_FUNC_GPIO &pcfg_pull_down>;
                };
        };

	i2s1 {
		i2s1_2ch_bus: i2s1-2ch-bus {
			rockchip,pins =
				<4 3 RK_FUNC_1 &pcfg_pull_none>,
				<4 4 RK_FUNC_1 &pcfg_pull_none>,
				//<4 5 RK_FUNC_1 &pcfg_pull_none>,
				<4 6 RK_FUNC_1 &pcfg_pull_none>;
				//<4 7 RK_FUNC_1 &pcfg_pull_none>;
		};
	};

	i2s0 {
		i2s0_8ch_bus: i2s0-8ch-bus {
			rockchip,pins =
				<3 24 RK_FUNC_1 &pcfg_pull_none>,
				<3 25 RK_FUNC_1 &pcfg_pull_none>,
				<3 26 RK_FUNC_1 &pcfg_pull_none>,
				<3 27 RK_FUNC_1 &pcfg_pull_none>,
				//<3 28 RK_FUNC_1 &pcfg_pull_none>,
				//<3 29 RK_FUNC_1 &pcfg_pull_none>,
				//<3 30 RK_FUNC_1 &pcfg_pull_none>,
				<3 31 RK_FUNC_1 &pcfg_pull_none>;
		};
	};
};

&pvtm {
	status = "okay";
};

&pmu_pvtm {
	status = "okay";
};

&pmu_io_domains {
	status = "okay";
	pmu1830-supply = <&vcc_1v8>;
};
