/*
 * Copyright (c) 2018 Fuzhou Rockchip Electronics Co., Ltd
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;

#include "rk3399-eaidk.dtsi"
#include "rk3399-android.dtsi"
#include "rk3399-vop-clk-set.dtsi"
#include "rk3399-vop-clk-set.dtsi"
/* Default screen: mipi */
#include "rk3399-eaidk-mipi.dtsi"
//#include "rk3399-eaidk-edp.dtsi"
/* Default camera: ov9750 */
#include "rk3399-eaidk-ov9750.dtsi"
//#include "rk3399-eaidk-imx258.dtsi"

/ {
	compatible = "rockchip,rk3399-eaidk-mipi","rockchip,rk3399";
	rk_headset: rk-headset {
		compatible = "rockchip_headset";
		headset_gpio = <&gpio4 28 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&hp_det>;
		io-channels = <&saradc 2>;
	};

	hdmi_codec: hdmi-codec {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,name = "HDMI-CODEC";

		simple-audio-card,cpu {
			sound-dai = <&i2s2>;
		};

		simple-audio-card,codec {
			sound-dai = <&hdmi>;
		};
	};

	extbrd: extbrd {
		compatible = "eaidk-extboard";
		io-channels = <&saradc 0>, <&saradc 3>;
	};

        vcc_dvdd: vcc-dvdd {
		compatible = "regulator-gpio";
		regulator-name = "vcc_dvdd";
		pinctrl-names = "default";
		pinctrl-0 = <&vcc_dvdd_pwr_en &vcc_dvdd_sel>;
		enable-active-high;
		startup-delay-us = <1000>;
		enable-gpio = <&gpio1 19 GPIO_ACTIVE_HIGH>;
		gpios = <&gpio4 25 GPIO_ACTIVE_HIGH>;
		states = <1200000 0x0
			  1800000 0x1 >;

		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1800000>;
	};

	vcc_avdd_3v2:  vcc-avdd-3v2 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_avdd_3v2";
		pinctrl-names = "default";
		pinctrl-0 = <&vcc_avdd_pwr_en>;
		enable-active-high;
		startup-delay-us = <1000>;
		gpio = <&gpio1 18 GPIO_ACTIVE_HIGH>;
	};
};

&hdmi_codec{
	status ="okay";
};

&i2c2 {
        status = "okay";
        i2c-scl-rising-time-ns = <300>;
        i2c-scl-falling-time-ns = <15>;
        clock-frequency=<400000>;

        ina219x41c2: ina219@41 {
                compatible = "ina219";
                reg = <0x41>;
        };
};

&i2c6 {
        status = "okay";
        i2c-scl-rising-time-ns = <300>;
        i2c-scl-falling-time-ns = <15>;
        clock-frequency=<400000>;

        ina219x47c6: ina219@47 {
                compatible = "ina219";
                reg = <0x47>;
        };
};

&i2c7 {
        status = "okay";
        i2c-scl-rising-time-ns = <300>;
        i2c-scl-falling-time-ns = <15>;
        clock-frequency=<400000>;

        ina219x40c7: ina219@40 {
                compatible = "ina219";
                reg = <0x40>;
        };
};

&spi1 {
	status = "okay";

	flash@0 {
		compatible = "gigadevice,w25q64", "jedec,spi-nor";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0>;
		m25p,fast-read;
		// The max SCLK of the flash 104/80 MHZ
		spi-max-frequency = <50000000>;
	};
};

&pinctrl {
	vcc_cam {
		vcc_dvdd_pwr_en: vdd-dvdd-pwr-en {
			rockchip,pins = <1 19 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		vcc_dvdd_sel: vdd-dvdd-sel {
			rockchip,pins = <4 25 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		vcc_avdd_pwr_en: vdd-avdd-pwr-en {
			rockchip,pins = <1 18 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	cam_mclk {
		cam_default_pins: cam-default-pins {
			rockchip,pins = <2 11 RK_FUNC_3 &pcfg_pull_none>;
		};
	};
};
