/*
 * Copyright (c) 2018 Fuzhou Rockchip Electronics Co., Ltd
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/ {
	compatible = "rockchip,rk3399-eaidk-imx258","rockchip,rk3399";
	
	cif_isp0: cif_isp@ff910000 {
		compatible = "rockchip,rk3399-cif-isp";
		rockchip,grf = <&grf>;
		reg = <0x0 0xff910000 0x0 0x4000>, <0x0 0xff968000 0x0 0x8000>;
		reg-names = "register", "dsihost-register";
		clocks =
			<&cru ACLK_ISP0_NOC>, <&cru ACLK_ISP0_WRAPPER>,
			<&cru HCLK_ISP0_NOC>, <&cru HCLK_ISP0_WRAPPER>,
			<&cru SCLK_ISP0>, <&cru SCLK_DPHY_RX0_CFG>,
			<&cru SCLK_CIF_OUT>, <&cru SCLK_CIF_OUT>,
			<&cru SCLK_MIPIDPHY_REF>;
		clock-names =
			"aclk_isp0_noc", "aclk_isp0_wrapper",
			"hclk_isp0_noc", "hclk_isp0_wrapper",
			"clk_isp0", "pclk_dphyrx",
			"clk_cif_out", "clk_cif_pll",
			"pclk_dphy_ref";
		interrupts = <GIC_SPI 43 IRQ_TYPE_LEVEL_HIGH 0>;
		interrupt-names = "cif_isp10_irq";
		power-domains = <&power RK3399_PD_ISP0>;
		rockchip,isp,iommu-enable = <1>;
		iommus = <&isp0_mmu>;
		status = "disabled";
	};

	cif_isp1: cif_isp@ff920000 {
		compatible = "rockchip,rk3399-cif-isp";
		rockchip,grf = <&grf>;
		reg = <0x0 0xff920000 0x0 0x4000>, <0x0 0xff968000 0x0 0x8000>;
		reg-names = "register", "dsihost-register";
		clocks =
		<&cru ACLK_ISP1_NOC>, <&cru ACLK_ISP1_WRAPPER>,
		<&cru HCLK_ISP1_NOC>, <&cru HCLK_ISP1_WRAPPER>,
		<&cru SCLK_ISP1>, <&cru PCLK_ISP1_WRAPPER>,
		<&cru SCLK_DPHY_TX1RX1_CFG>,
		<&cru PCLK_MIPI_DSI1>, <&cru SCLK_MIPIDPHY_CFG>,
		<&cru SCLK_CIF_OUT>, <&cru SCLK_CIF_OUT>,
		<&cru SCLK_MIPIDPHY_REF>;
		clock-names =
			"aclk_isp1_noc", "aclk_isp1_wrapper",
			"hclk_isp1_noc", "hclk_isp1_wrapper",
			"clk_isp1", "pclkin_isp1",
			"pclk_dphytxrx",
			"pclk_mipi_dsi","mipi_dphy_cfg",
			"clk_cif_out", "clk_cif_pll",
			"pclk_dphy_ref";
		interrupts = <GIC_SPI 44 IRQ_TYPE_LEVEL_HIGH 0>;
		interrupt-names = "cif_isp10_irq";
		power-domains = <&power RK3399_PD_ISP1>;
		rockchip,isp,iommu-enable = <1>;
		iommus = <&isp1_mmu>;
		status = "disabled";
	};
};


&cif_isp0 {
	rockchip,camera-modules-attached = <&camera0>;
	status = "okay";
};

&isp0_mmu {
	status = "okay";
};

&cif_isp1 {
//	rockchip,camera-modules-attached = <&camera1>;
//	status = "okay";
};

&isp1_mmu {
	status = "okay";
};

&i2c1 {
	status = "okay";

	afc0: af-controller@0 {
		status = "okay";
		compatible = "dongwoon,dw9714-v4l2-i2c-subdev";
		reg = <0x0C>;

		rockchip,vcm-start-current = <20>;
		rockchip,vcm-rated-current = <76>;
		rockchip,vcm-step-mode = <0>;
	};

	camera0: camera-module@10 {
		status = "okay";
		compatible = "sony,imx258-v4l2-i2c-subdev";
		reg = <0x10>;
		device_type = "v4l2-i2c-subdev";
		clocks = <&cru SCLK_CIF_OUT>;
		clock-names = "clk_cif_out";

		pinctrl-names = "rockchip,camera_default";
		pinctrl-0 = <&cam_default_pins>;

		rockchip,pd-gpio = <&gpio1 RK_PA0 GPIO_ACTIVE_LOW>;
		//rockchip,pwr-gpio = <&gpio4 RK_PD1 GPIO_ACTIVE_HIGH>;
		rockchip,rst-gpio = <&gpio1 RK_PA3 GPIO_ACTIVE_LOW>;

		dvp-supply = <&vcc1v8_dvp>;
		dvdd-supply = <&vcc_dvdd>;		//gpio1_c3 gpio4_d1
		avdd-3v2-supply = <&vcc_avdd_3v2>;	//gpio1_c2
		avdd-2v8-supply = <&vcc_avdd_2v8>;	//ldo2

		rockchip,camera-module-regulator-names = "dvp", "dvdd", "avdd-2v8";
		// OV9750: dvp 1.8V, dvdd 1.8v, avdd 3.2v
		//rockchip,camera-module-regulator-voltages = <1800000 1800000 3200000>;
		// IMX258: dvp 1.8V, dvdd 1.2v, avdd 2.8v
		rockchip,camera-module-regulator-voltages = <1800000 1200000 2800000>;
		rockchip,camera-module-mclk-name = "clk_cif_out";
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "MDG001";
		rockchip,camera-module-len-name = "NONE";
		rockchip,camera-module-fov-h = "82.4";
		rockchip,camera-module-fov-v = "60";
		rockchip,camera-module-orientation = <0>;
		rockchip,camera-module-iq-flip = <0>;
		rockchip,camera-module-iq-mirror = <0>;
		rockchip,camera-module-flip = <1>;
		rockchip,camera-module-mirror = <1>;
		rockchip,af-ctrl = <&afc0>;

		rockchip,camera-module-defrect0 = <2096 1560 0 0 2096 1560>;
		rockchip,camera-module-defrect1 = <4208 3120 0 0 4208 3120>;
		rockchip,camera-module-flash-support = <0>;
		rockchip,camera-module-mipi-dphy-index = <0>;
		//as-master = <1>;
	};

/*
	camera1: camera-module@10 {
		status = "okay";
		compatible = "sony,imx258-v4l2-i2c-subdev";
		reg = <0x10>;
		device_type = "v4l2-i2c-subdev";
		clocks = <&cru SCLK_CIF_OUT>;
		clock-names = "clk_cif_out";

		pinctrl-names = "rockchip,camera_default";
		pinctrl-0 = <&cam_default_pins>;

		rockchip,pd-gpio = <&gpio1 RK_PA1 GPIO_ACTIVE_LOW>;
		//rockchip,pwr-gpio = <&gpio4 RK_PD1 GPIO_ACTIVE_HIGH>;
		rockchip,rst-gpio = <&gpio1 RK_PA4 GPIO_ACTIVE_LOW>;

		dvp-supply = <&vcc1v8_dvp>;
		dvdd-supply = <&vcc_dvdd>;		//gpio1_c3 gpio4_d1
		avdd-3v2-supply = <&vcc_avdd_3v2>;	//gpio1_c2
		avdd-2v8-supply = <&vcc_avdd_2v8>;	//ldo2

		rockchip,camera-module-regulator-names = "dvp", "dvdd", "avdd-2v8";
		// OV9750: dvp 1.8V, dvdd 1.8v, avdd 3.2v
		//rockchip,camera-module-regulator-voltages = <1800000 1800000 3200000>;
		// IMX258: dvp 1.8V, dvdd 1.2v, avdd 2.8v
		rockchip,camera-module-regulator-voltages = <1800000 1200000 2800000>;
		rockchip,camera-module-mclk-name = "clk_cif_out";
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "MDG001";
		rockchip,camera-module-len-name = "NONE";
		rockchip,camera-module-fov-h = "82.4";
		rockchip,camera-module-fov-v = "60";
		rockchip,camera-module-orientation = <0>;
		rockchip,camera-module-iq-flip = <0>;
		rockchip,camera-module-iq-mirror = <0>;
		rockchip,camera-module-flip = <1>;
		rockchip,camera-module-mirror = <1>;
		rockchip,af-ctrl = <&afc0>;

		rockchip,camera-module-defrect0 = <2096 1560 0 0 2096 1560>;
		rockchip,camera-module-defrect1 = <4208 3120 0 0 4208 3120>;
		rockchip,camera-module-flash-support = <0>;
		rockchip,camera-module-mipi-dphy-index = <1>;
		//as-master = <1>;
	};
*/

};

