/*
 * Copyright (c) 2019 Fuzhou Rockchip Electronics Co., Ltd
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

#include "rk3399pro-toybrick.dtsi"
#include "rk3399-vop-clk-set.dtsi"

/ {
	compatible = "rockchip,rk3399pro-toybrick-prox","rockchip,rk3399pro";

	vcc_pcie: vcc-pcie-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		//gpio = <&gpio2 6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		//pinctrl-0 = <&vcc_pcie_drv>;
		regulator-name = "vcc_pcie";
		regulator-always-on;
		regulator-boot-on;
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&rk809 1>;
		clock-names = "ext_clock";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_enable_h>;

		/*
		 * On the module itself this is one of these (depending
		 * on the actual card populated):
		 * - SDIO_RESET_L_WL_REG_ON
 		* - PDN (power down when low)
 		*/
		reset-gpios = <&gpio2 RK_PD3 GPIO_ACTIVE_LOW>;
	};

	wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&grf>;
		wifi_chip_type = "ap6255";
		sdio_vref = <1800>;
		WIFI,host_wake_irq = <&gpio0 RK_PA3 GPIO_ACTIVE_HIGH>; /* GPIO0_A3 */
		status = "okay";
	};

	wireless_bluetooth: wireless-bluetooth {
		compatible = "bluetooth-platdata";
		clocks = <&rk809 1>;
		clock-names = "ext_clock";
		/* wifi-bt-power-toggle; */
		uart_rts_gpios = <&gpio2 RK_PC3 GPIO_ACTIVE_LOW>;//UART0_RTS_BT
		pinctrl-names = "default", "rts_gpio";
		pinctrl-0 = <&uart0_rts>;
		pinctrl-1 = <&uart0_gpios>;
		/* BT,power_gpio  = <&gpio3 19 GPIO_ACTIVE_HIGH>; */
		BT,reset_gpio    = <&gpio2 RK_PD4 GPIO_ACTIVE_HIGH>;//BT_REG_ON_H 
		BT,wake_gpio     = <&gpio2 RK_PD2 GPIO_ACTIVE_HIGH>;//BT_WAKE_L  
		BT,wake_host_irq = <&gpio0 RK_PA5 GPIO_ACTIVE_HIGH>;//BT_HOST_WAKE_L  
		status = "okay";
	};

	leds: gpio-leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 =<&leds_gpio>;
		/*
		led@1 {
			gpios = <&gpio2 RK_PA5 GPIO_ACTIVE_HIGH>;
			label = "system_work_led1"; // Blue LED
			retain-state-suspended;
		};
		*/
		led@2 {
			gpios = <&gpio2 RK_PA3 GPIO_ACTIVE_HIGH>;
			label = "system_work_led2"; // Red LED
			retain-state-suspended;
		};

		led@3 {
			gpios = <&gpio2 RK_PA4 GPIO_ACTIVE_HIGH>;
			label = "system_work_led3"; // Green LED
			retain-state-suspended;
		};
	};

	rk_headset {
		compatible = "rockchip_headset";
		headset_gpio = <&gpio0 RK_PB5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&hp_det>;
		io-channels = <&saradc 3>;
	};
	usbacm_video_control: usbacm-video-control {
		compatible = "rockchip,usbacm-video-control";
		status = "disabled";
	};
};

&gmac {
	phy-supply = <&vcc_phy>;
	phy-mode = "rgmii";
	clock_in_out = "input";
	snps,reset-gpio = <&gpio3 RK_PC0 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 10000 50000>;
	assigned-clocks = <&cru SCLK_RMII_SRC>;
	assigned-clock-parents = <&clkin_gmac>;
	pinctrl-names = "default";
	pinctrl-0 = <&rgmii_pins>;
	tx_delay = <0x28>;
	rx_delay = <0x20>;
	status = "okay";
};

&i2c0 {
	status = "okay";
	i2c-scl-rising-time-ns = <180>;
	i2c-scl-falling-time-ns = <30>;
	clock-frequency = <400000>;
	rk809: pmic@20 {
		regulators {
			vcc0v9_s3: LDO_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-name = "vcc0v9_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <900000>;
				};
			};
			
			vcca_0v9_s0: LDO_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;

				regulator-name = "vcca_0v9_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd1v8_dvp: LDO_REG5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-name = "vdd1v8_dvp";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vccio_sd: LDO_REG8 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;

				regulator-name = "vccio_sd";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3000000>;
				};
			};

			vcc_sd: LDO_REG9 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;

				regulator-name = "vcc_sd";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3000000>;
				};
			};
		};
	};
};


&i2c4 {
	status = "okay";
	gt1x: gt1x@14 {
		status = "disabled";
		compatible = "goodix,gt1x";
		pinctrl-names = "default";
		pinctrl-0 = <&mipi_touch_int>;
		reg = <0x14>;
		goodix,rst-gpio = <&gpio4 RK_PC6 GPIO_ACTIVE_HIGH>;
		goodix,irq-gpio = <&gpio4 RK_PD0 IRQ_TYPE_LEVEL_LOW>;
		goodix,enable-gpio = <&gpio4 RK_PD6 GPIO_ACTIVE_HIGH>;
	};

	gsl3673: gsl3673@40 {
		status = "disabled";
		compatible = "GSL,GSL3673";
		pinctrl-names = "default";
		pinctrl-0 = <&edp_touch_int>;
		reg = <0x40>;
		screen_max_x = <1536>;
		screen_max_y = <2048>;

		irq_gpio_number = <&gpio2 RK_PB4 IRQ_TYPE_LEVEL_LOW>;
		rst_gpio_number = <&gpio2 RK_PA2 GPIO_ACTIVE_HIGH>;
	};
};

&i2c8 {
	status = "okay";
	i2c-scl-rising-time-ns = <345>;
	i2c-scl-falling-time-ns = <11>;
	clock-frequency = <100000>;

	fusb0: fusb30x@22 {
		compatible = "fairchild,fusb302";
		reg = <0x22>;
		pinctrl-names = "default";
		pinctrl-0 = <&fusb0_int>;
		int-n-gpios = <&gpio1 RK_PA2 GPIO_ACTIVE_HIGH>;
		vbus-5v-gpios = <&gpio4 RK_PC5 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&usbdrd3_0 {
        extcon = <&fusb0>;
        status = "okay";
};

&usbdrd3_1 {
        status = "okay";
        pinctrl-names = "default";
		pinctrl-0 = <&usb3_host_en>;
};

&usbdrd_dwc3_0 {
        status = "okay";
};

&usbdrd_dwc3_1 {
        snps,dis-u3-autosuspend-quirk;
        status = "okay";
};

&tcphy0 {
	extcon = <&fusb0>;
	status = "okay";
};

&tcphy1 {
	status = "okay";
};

&u2phy0 {
	status = "okay";
	extcon = <&fusb0>;

	u2phy0_otg: otg-port {
		status = "okay";
	};

	u2phy0_host: host-port {
		phy-supply = <&vcc5v0_usb>;
		status = "okay";
	};
};

&u2phy1 {
	status = "okay";

	u2phy1_otg: otg-port {
		status = "okay";
	};

	u2phy1_host: host-port {
		phy-supply = <&vcc5v0_usb>;
		status = "okay";
	};
};

&cdn_dp {
	status = "disabled";
	extcon = <&fusb0>;
	phys = <&tcphy0_dp>;
};

&dp_in_vopb {
	status = "disabled";
};

&io_domains {
	status = "okay";
	bt656-supply = <&vcca_1v8>; /* APIO2_VDD */
	audio-supply = <&vcca_1v8>; /* APIO5_VDD */
	sdmmc-supply = <&vccio_sd>; /* SDMMC0_VDD */
	gpio1830-supply = <&vcc_3v0>; /* APIO4_VDD */
};

&pmu_io_domains {
	status = "okay";
	pmu1830-supply = <&vcc_1v8>;
};

&uart4 {
	status = "okay";
};

&pinctrl {

	fusb30x {
		fusb0_int: fusb0-int {
			rockchip,pins =
				<1 RK_PA2 0 &pcfg_pull_up>;
		};
	};

	usb3 {
		usb3_host_en: usb3-host-en {
			rockchip,pins =
				<1 RK_PB5 RK_FUNC_GPIO &pcfg_output_high>;
		};
	};

	leds_gpio: leds-gpio {
		rockchip,pins =
			//<2 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>,
			<2 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>,
			<2 RK_PA4 RK_FUNC_GPIO &pcfg_pull_up>;
	};

	headphone {
		hp_det: hp-det {
			rockchip,pins =
				<0 RK_PB5 0 &pcfg_pull_up>;
		};
	};
	
	/*
	pcie {
		vcc_pcie_drv: vcc-pcie-drv {
			rockchip,pins =
				<2 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};*/ 

	touch {
		mipi_touch_int: mipi-touch-int {
			rockchip,pins =
				<4 RK_PD0 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		edp_touch_int: edp-touch-int {
			rockchip,pins =
				<2 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	lcd {
		edp_bl_en: edp-bl-en {
			rockchip,pins =
				<4 RK_PD4 RK_FUNC_GPIO &pcfg_output_high>;
		};
	};
	
	sdio-pwrseq {
		wifi_enable_h: wifi-enable-h {
			rockchip,pins =
				<2 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wireless-bluetooth {
		uart0_gpios: uart0-gpios {
			rockchip,pins =
				<2 RK_PC3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};


