// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2025 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;

#include "dt-bindings/usb/pd.h"
#include "rk3588m.dtsi"
#include "rk3588-yw-v10.dtsi"
#include "rk3588-rk806-dual.dtsi"
#include "rk3588-android.dtsi"
#include "rk3588-yw-v10-socb-audio.dtsi"

/ {
	model = "Rockchip RK3588 YW FastBoard SoCB Board";
	compatible = "rockchip,rk3588-yw-fastboard-socb-v10", "rockchip,rk3588";

	chosen: chosen {
		bootargs = "earlycon=uart8250,mmio32,0xfeb50000 console=ttyFIQ0 irqchip.gicv3_pseudo_nmi=0 rcupdate.rcu_expedited=1 rcu_nocbs=all spidev.bufsiz=131072 default_hugepagesz=32M hugepagesz=32M hugepages=16";
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		bar0_region: bar0-region@3c000000 {
			reg = <0x0 0x3c000000 0x0 0x00400000>;
		};
		bar2_region: bar2-region@40000000 {
			reg = <0x0 0x40000000 0x0 0x04000000>;
		};
	};
/*
	vcc5v0_buck: vcc5v0-buck {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_buck";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		//gpio = <&gpio0 RK_PC2 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc12v_dcin>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_buck_en>;
		startup-delay-us = <2500>;
		off-on-delay-us = <1500>;
		regulator-state-mem {
			regulator-on-in-suspend;
			regulator-suspend-microvolt = <5000000>;
		};
	};

	vcc5v0_host_usb20: vcc5v0-host-usb20 {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_otg_usb20";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		//enable-active-high;
		//gpio = <&i2c5_nca9539_gpio1 10 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <2000>;
		off-on-delay-us = <16000>;
		vin-supply = <&vcc5v0_buck>;
	};

	vcc5v0_host_usb30: vcc5v0-host-usb30 {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_host_usb30";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		//gpio = <&i2c5_nca9539_gpio1 11 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <2000>;
		off-on-delay-us = <16000>;
		vin-supply = <&vcc5v0_buck>;
	};
*/
};

&combphy0_ps {
	status = "okay";
};

&combphy1_ps {
	status = "okay";
};

&combphy2_psu {
	status = "okay";
};

/*
&dfi {
	status = "disabled";
};

&dmc {
	status = "disabled";
};
*/

&gmac0 {
	/* Use rgmii-rxid mode to disable rx delay inside Soc */
	phy-mode = "rgmii-rxid";
	clock_in_out = "output";
	snps,reset-gpio = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_miim
		     &gmac0_tx_bus2
		     &gmac0_rx_bus2
		     &gmac0_rgmii_clk
		     &gmac0_rgmii_bus
		     &phydisb>;
	tx_delay = <0x20>;
	phy-handle = <&rgmii_phy>;
	status = "okay";
};

&i2s0_8ch {
	status = "okay";
	pinctrl-0 = <&i2s0_lrck
		     &i2s0_sclk
		     &i2s0_sdi0
		     &i2s0_sdo0>;
};

&mdio0 {
	rgmii_phy: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
		motorcomm,vddio = "1v8";
	};
};

/*
&avdd1v8_ddr_pll_s0 {
	regulator-state-mem {
		regulator-on-in-suspend;
		regulator-suspend-microvolt = <1800000>;
	};
};
*/

&pcie30phy {
	status = "okay";
};

&pcie3x4 {
	compatible = "rockchip,rk3588-pcie-std-ep";
	memory-region = <&bar0_region>, <&bar2_region>;
	memory-region-names = "bar0", "bar2";
	status = "okay";
};

&pinctrl {
	gmac0 {
		phydisb: phydisb {
			rockchip,pins = <4 RK_PB5 RK_FUNC_GPIO &pcfg_output_high>;
		};
	};
/*
	vcc5v0-buck {
		vcc5v0_buck_en: vcc5v0-buck-en {
			rockchip,pins = <0 RK_PC2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
*/
};

&rockchip_suspend {
	rockchip,sleep-mode-config = <
		(0
		| RKPM_SLP_ARMOFF_DDRPD
		| RKPM_SLP_PMU_PMUALIVE_32K
		| RKPM_SLP_PMU_DIS_OSC
		| RKPM_SLP_32K_EXT
		)
	>;
	rockchip,wakeup-config = <
		(0
		| RKPM_CPU0_WKUP_EN
		| RKPM_GPIO_WKUP_EN
		)
	>;
	status = "okay";
};

&route_dsi0 {
	status = "okay";
};

&route_dsi1 {
	status = "okay";
};

&u2phy0 {
	status = "okay";
};

&u2phy0_otg {
	//phy-supply = <&vcc5v0_host_usb20>;
	rockchip,sel-pipe-phystatus;
	rockchip,dis-u2-susphy;
	status = "okay";
};

/*
&u2phy1_otg {
	phy-supply = <&vcc5v0_host_usb30>;
};

&u2phy2_host {
	phy-supply = <&vcc5v0_host_usb30>;
};

&u2phy3_host {
	phy-supply = <&vcc5v0_host_usb30>;
};
*/

&usbdrd_dwc3_0 {
	dr_mode = "peripheral";
	maximum-speed = "high-speed";
	extcon = <&u2phy0>;
	phys = <&u2phy0_otg>;
	phy-names = "usb2-phy";
	snps,dis_u2_susphy_quirk;
	snps,usb2-lpm-disable;
	status = "okay";
 };

/*
&usbdrd_dwc3_1 {
	dr_mode = "host";
	maximum-speed = "high-speed";
	snps,dis_u2_susphy_quirk;
	snps,usb2-lpm-disable;
	status = "okay";
 };
 */


